<% include ../partials/header %>

<div class = "container">
  <div class = "row">

    <div class = "col-md-3">
      <h4>Side column</h4>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>

    <div class = "col-md-9">
      <div class = "thumbnail no-brdr-img">
          <img class="img-responsive" src="<%= campground.img %>">
          <div class="caption-full">
            <h4 class="pull-right">$9.00/night</h4>
            <h4><%= campground.name %></h4>
            <p> Description:<%= campground.description %></p>
          </div>
      </div>

      <div class = "well">
        <div class="text-right">
          <a role="button" class="btn btn-success btn-lg-secondary" href="/campgrounds/<%=campground._id%>/comments/new">New Comment</a>
        </div>
        <hr />
        <% campground.comment.forEach(function(data){ %>
          <div class="row">
            <div class="col-md-12">
              <strong>Author: <%= data.author %></strong>
              <span class="pull-right">10 Days ago</span>
              <p><%-data.text.replace(/\r\n/g, "<br>");%></p>
              <!-- <p><%= data.text %></p> -->
            </div>
          </div>
        <% }); %>
      </div>

    </div>

  </div>
</div>

<% include ../partials/footer %>
