<% include ../partials/header %>

<h1><%= campground.name %></h1>

<img src="<%= campground.img %>">

<p> Description:
  <%= campground.description %>
</p>

<div>
  <a role="button" class="btn btn-success btn-lg-secondary" href="/campgrounds/<%=campground._id%>/comments/new">New Comment</a>
  <h3>Comments:</h3>
  <% campground.comment.forEach(function(data){ %>
    <div>
      <p><strong>Author: <%= data.author %></strong></p>
      <%= data.text %>
      <p></p>
    </div>
  <% }); %>

</div>
<% include ../partials/footer %>
